@keyframes titleBottom {
  0% {
    opacity: 0;
    transform: translate(0%, -50%);
  }
  95% {
    opacity: 1;
    transform: translate(1.5%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(1.5%, -1.5%);
  }
}

@keyframes titleTop {
  0% {
    opacity: 0;
    transform: translate(8px, -8px);
  }
  90% {
    opacity: 1;
    transform: translate(-20px, 0px) scale(1.05, 1.05);
    transform-origin: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1, 1);
  }
}

@keyframes cloudAni {
  0% {
    transform: translate(-1%, 0);
  }
  50% {
    transform: translate(1%, 0);
  }
  100% {
    transform: translate(-1%, 0);
  }
}

@keyframes ani-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes showBottom {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }
  90% {
    opacity: 1;
    transform: translate(0, -2%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes flashing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(5px, 5px);
  }
  30% {
    transform: translate(-7px, -7px);
  }
  45% {
    transform: translate(0px, 0px);
  }
  60% {
    transform: translate(-5px, 6px);
  }
  75% {
    transform: translate(-7px, -1px);
  }
  90% {
    transform: translate(-2px, -7px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}