
.q-box {
  display: none;
  width: 100%;
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
  .inbox{
    margin: 0 auto;
    text-align: center;
  }
  .q-header{
    width: 100%;
    position: relative;
    text-align: left;
    .q-header-bg{
      width: 100%;
    }
    .title{
      width: 100%;
      position: absolute;
      padding: 7% 10%;
      top: 0;
      left: 0;
      box-sizing: border-box;
      overflow: hidden;
      .q-img{
        float: left;
        width: 50%;
        height: auto;
      }
      .number{
        float: right;
        font-weight: 800;
        font-size: 7vw;
      }
    }
  }
  h2{
    padding-top: 3%;
    font-weight: 600;
    padding-bottom: 5%;
  }
  .q-content{
    width: 100%;
    padding: 8%;
    box-sizing: border-box;
  }
  .q_img{
    width:100%;
  }
  .input-box{
    width: 100%;
  }
  .select-box{
    width: 100%;
    margin-top: 20px;
  }
  .submitBtn{
    display: block;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    input{
      width: 100%;
      background: #8f31ab;
      background: -moz-linear-gradient(90deg, #361b81 0%, #8f31ab 50%, #8f31ab 100%);
      background: -webkit-linear-gradient(90deg, #361b81 0%, #8f31ab 50%, #8f31ab 100%);
      background: linear-gradient(-270deg, #361b81 0%, #8f31ab 50%, #8f31ab 100%);
      color: #ffffff;
      padding: 5px  10px;
      margin: 0 auto;
      opacity: 0.9;
      cursor: pointer;
      &:hover{
        opacity: 1;
      }
    }
  }
}
.show {
  display: block;
}